
@{
	ViewData["Title"] = "Login";
	Layout = "_MainLayout";
}

<div class="login">
	<div class="wrap">
		<div class="col_1_of_login span_1_of_login">
			<h4 class="title">Khách Hàng Mới</h4>
			<div class="button1">
				<a href="register.html"><input type="submit" name="Submit" value="Tạo Tài Khoản"></a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="col_1_of_login span_1_of_login">
			<div class="login-title">
				<h4 class="title">Đăng Nhập</h4>
				<div id="loginbox" class="loginbox">
					<form action="" method="post" name="login" id="login-form">
						<fieldset class="input">
							<p id="login-form-username">
								<label for="modlgn_username">Tên Đăng Nhập</label>
								<input id="modlgn_username" type="text" name="email" class="inputbox" size="18" autocomplete="off">
							</p>
							<p id="login-form-password">
								<label for="modlgn_passwd">Mật Khẩu</label>
								<input id="modlgn_passwd" type="password" name="password" class="inputbox" size="18" autocomplete="off">
							</p>
							<div class="remember">
								<p id="login-form-remember">
									<label for="modlgn_remember"><a href="#">Quên Mật Khẩu ? </a></label>
								</p>
								<input id="submit1" type="submit" name="Submit" class="button" value="Login">
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

