@{
	ViewData["Title"] = "Register";
	Layout = "_MainLayout";
}
<div class="register_account">
	<div class="wrap">
		<h4 class="title">Đăng Ký Tài Khoản</h4>
		<form name="myform" method="post" action="#" onsubmit="return Register();">
			<div class="col_1_of_2 span_1_of_2">
				<div><input id="Rgt_Name" type="text" placeholder="Tên" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required /></div>
				<div><input id="Rgt_UserName" type="text" placeholder="Tên Đăng Nhập" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'UserName';}" required /></div>
				<div><input id="Rgt_Mail" type="text" placeholder="E-Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}" required /></div>
				<div><input id="Rgt_Passwrd" type="password" placeholder="Mật Khẩu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" pattern=".{8,}" required /></div>
			</div>
			<div class="col_1_of_2 span_1_of_2">
				<div><input id="Rgt_Address" type="text" placeholder="Địa Chỉ" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}" required /></div>
				<div>
					<select id="country" aria-placeholder="Tỉnh/Thành Phố" onchange="change_country(this.value)" class="frm-field required">
						<option value="null">Tỉnh/Thành Phố</option>
						<option value="HCM">Thành Phố Hồ Chí Minh</option>
						<option value="HN">Hà Nội</option>
						<option value="AG">An Giang</option>
						<option value="BD">Bình Dương</option>
						<option value="TG">Tiền Giang</option>
						<option value="VT">Bà Rịa - Vũng Tàu</option>
						<option value="DT">Đồng Tháp</option>
						<option value="LA">Long An</option>
						<option value="TN">Tây Ninh</option>
						<option value="LD">Lâm Đồng</option>
						<option value="BT">Bình Thuận</option>
						<option value="TH">Thanh Hóa</option>
						<option value="HP">Hải Phòng</option>
						<option value="CT">Cần Thơ</option>
					</select>
				</div>
				<div><input id="Rgt_Num" type="text" placeholder="Số Điện Thoại" class="number" pattern=".{10,} required" /></div>
			</div>
			<button class="grey" id="sb">Tạo</button>
			<div class="clear"></div>
		</form>
	</div>
</div>
