@{
	ViewData["Title"] = "HoaDon";
	Layout = "_AdminLayout";
}
<div class="content-header">
	
				<h1 class="m-0 text-dark">Quản lý Bill</h1>
		
</div>

<section class="content">



	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<table class="table table-striped projects" style="width:100%">
					<thead>
						<tr>
							<th style="width: 8%">
								Mã SP
							</th>
							<th style="width: 12%">
								Tên SP
							</th>
							<th style="width: 10%">
								Giá nhập
							</th>
							<th style="width: 11%">
								Giá bán
							</th>
							<th style="width:9%">
								Số lượng
							</th>
							<th style="width: 10%">
								Tổng tiền
							</th>

						</tr>
					</thead>
					<tbody id="tbodybillinfo">
					</tbody>
				</table>
			</div>
		</div>
	</div>




	<div class="card-body p-0">

		<table class="table table-striped projects" style="width:100%">
			<thead>
				<tr>
					<th style="width: 8%">
						Mã Bill
					</th>
					<th style="width: 12%">
						Người mua
					</th>
					<th style="width: 10%">
						Ngày mua
					</th>
					<th style="width: 9%">
						Mã giảm giá
					</th>
					<th style="width:9%">
						Giảm giá
					</th>
					<th style="width: 7%">
						Tổng tiền
					</th>
					<th style="width: 10% ">
						Đã Trả
					</th>
					<th style="width: 16%  ">
						Action
					</th>
				</tr>
			</thead>
			<tbody id="tbodybill">

			
			</tbody>
		</table>
	</div>
</section>