
@{
	ViewData["Title"] = "Kho";
	Layout = "_AdminLayout";
}
	<!-- Content Header (Page header) -->
<div class="content-header">
	<h1 class="m-0 text-dark">Quản lý kho</h1>
	</div>
	<section class="content">
		<div class="card-body p-0">
			<table class="table table-striped projects" style="width:100%">
				<thead>
					<tr>
						<th style="width: 8%" class="text-left">
							Mã Nhập Kho
						</th>
						<th style="width: 12%" class="text-center">
							Ngày nhập
						</th>
						<th style="width: 10%" class="text-center">
							Mã Sản phẩm
						</th>
						<th style="width: 10%" class="text-center">
							Tên Sp
						</th>
						<th style="width: 10%" class="text-center">
							Giá nhập
						</th>
						<th style="width: 10%" class="text-center">
							Số lượng
						</th>

					</tr>
				</thead>
				<tbody id="tbodyPromotion">
				</tbody>
			</table>
		</div>
	</section>
	<!-- /.content -->

