@model IEnumerable<eShopSolution.WebApp.Entities.LoaiSach>
@{
	ViewData["Title"] = "ThemSach";
	Layout = "_AdminLayout";
}

<section class="content" id="placeAdd">
	<div class="title">Thêm Sản Phẩm</div>
	<div class="contentCont">
		<div class="infoUser Left">
			<div class="subInfo">
				<div class="info">Tên Sản Phẩm</div>
				<input type="text" id="name" class="inputField">
			</div>
			<div class="subInfo">
				<div class="info">Giá Gốc</div>
				<input type="text" id="code" class="inputField">
			</div>
			<div class="subInfo">
				<div class="info"> Giá Tiền</div>
				<input type="text" id="price" class="inputField" }>
			</div>
			<div class="subInfo">
				<div class="info">Giá Khuyến Mãi</div>
				<input type="text" id="discount" class="inputField">
			</div>
		</div>
		<div class="infoUser Right">
			<div class="subInfo">
				<div class="info">Tác Giả</div>
				<input type="text" id="writer" class="inputField">
			</div>
			<div class="subInfo">
				<div class="info">Thể Loại Sách</div>
				<select name="Loai" id="Loai">
					
					<option value="">a</option>
					
					</select>
			</div>
			<div class="subInfo">
				<div class="info">Mô Tả Sách</div>
				<input type="text" id="detail" class="inputField">
			</div>
			<div class="subInfo">
				<div class="info">Hình Ảnh</div>
				<input type="text" id="img" class="inputField">
			</div>
			<div class="btn btnAccept">Xác Nhận</div>
		</div>
	</div>
</section>