@{
	ViewData["Title"] = "cart";
	Layout = "_MainLayout";
}
<div class="register_account">
	<div class="wrap">
		<!-- <h4 class="title">Shopping cart is empty</h4>
		<p class="cart">You have no items in your shopping cart.<br>Click<a href="index.html"> here</a> to continue shopping</p> -->
		<div class="titleCont">
			<div class="title pdImgCont">Hình Ảnh</div>
			<div class="title pdName">Tên Sản Phẩm</div>
			<div class="title pdPrice">Giá Tiền</div>
			<div class="title pdQuantity">Số Lượng</div>
			<div class="title pdTotal">Thành Tiền</div>
			<div class="title pdRemove">Xóa</div>
		</div>
		<div class="placeAdd">

		</div>

		<div class="nextCont">
			<div class="backgroundImg">

			</div>
			<div class="payAndgift">
				<div class="voucherCont">
					<div style="font-size:18px; font-weight: bold; ">Mã giảm giá/Phiếu mua hàng</div>
					<div class="inputCont">
						<input type="text" placeholder="Nhập mã của bạn..." class="inputStyle">
						<div class="apply">Áp Dụng</div>
					</div>
				</div>
				<div class="totalCont">
					<div style="font-size:20px; font-weight: bold; ">Thanh Toán</div>
					<div class="subTitle">
						<div class="leftCont">
							<div class="subFade">Tạm tính:</div>
							<div class="subFade">Khuyến Mãi:</div>
							<div class="subFade">Thành Tiền:</div>
						</div>
						<div class="rightCont">
							<div class="subBold getTotal"><span> đ</span></div>
							<div class="subBold getDiscount"><span> đ</span></div>
							<div class="subBold getLastPrice" style="color: #eb2101 ; font-size: 20px;"></div>
							<div class="subFade">(Đã bao gồm VAT)</div>
						</div>
					</div>
					<a href="./checkout.html"><div class="pay">Thanh Toán</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
