@{
	ViewData["Title"] = "Home Page";
	Layout = "_MainLayout";
}
<!-- start slider -->
<div id="fwslider">
	<div class="slider_container">
		<div class="slide">
			<!-- Slide image -->
			<img src="~/index/images/p11.png" alt="" />
			<!-- /Slide image -->


		</div>
		<!-- /Duplicate to create more slides -->
		<div class="slide">
			<img src="~/index/images/p4.jpg" alt="" />
		</div>
		<!--/slide -->
	</div>
	<div class="timers"></div>
	<div class="slidePrev"><span></span></div>
	<div class="slideNext"><span></span></div>
</div>
<!--/slider -->
<div class="main">
	<div class="wrap">
		<div class="productB">
			<div id="placeAdd">
			Danh sách sách
			</div>

		</div>
	</div>
</div>

