@model IEnumerable<eShopSolution.WebApp.Entities.Sach>
@{
	ViewData["Title"] = "Home Page";
	Layout = "_MainLayout";
}
@section css {
	<link href="~/index/css/product.css" rel="stylesheet" />
	<link href="~/index/css/fwslider.css" rel="stylesheet" />

}
<!-- start slider -->
<div id="fwslider">
	<div class="slider_container">
		<div class="slide">
			<!-- Slide image -->
			<img src="~/index/images/p11.png" alt="" />
			<!-- /Slide image -->


		</div>
		<!-- /Duplicate to create more slides -->
		<div class="slide">
			<img src="~/index/images/p4.jpg" alt="" />
		</div>
		<!--/slide -->
	</div>
	<div class="timers"></div>
	<div class="slidePrev"><span></span></div>
	<div class="slideNext"><span></span></div>
</div>
<!--/slider -->
@section sach{
<div class="main">
	<div class="wrap">
		<div class="productB">
			@foreach (var item in Model)
			{
				<div class="productD">
					<a href="/Sach/Chitiet">
						<div class="inner_content clearfix">
							<div class="product_image">
								<img src="~/images/@item.Hinh" />
							</div>
							<div class="price">
								<div class="cart-left">
									<p class="title">@Html.DisplayFor(modelItem => item.TenSach)</p>
									<div class="price1">
										<span class="actual">@Html.DisplayFor(modelItem => item.Gia)</span>
									</div>
								</div>
								<div class="cart-right"> </div>
								<div class="clear"></div>
							</div>
						</div>
					</a>
				</div>
			}

</div>
</div>
</div>
}